numpy
matplotlib
scipy
sympy
opencv-python
scikit-learn
scikit-image
networkx
bokeh
statsmodels
notebook
pytest
bookbook
nbval
traitlets>=4.3.1
ipython
pandas
vdom
jupyterlab_launcher>=0.5.0
watermark
